<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gobang.dao.GobangAssetsDao">

    <select id="findByUid" resultType="gobang.pojo.GobangAssets">
        select `uid`,`exp`,`grade`,`rank`
        from `gobang`
        where `uid`=#{uid}
    </select>

    <insert id="insertAssets">
        insert into `gobang` (`uid`)
        values (#{uid})
    </insert>

    <select id="getTopByRank" resultType="gobang.pojo.vo.GameTopVo">
        select * from `gobang`
                 order by `rank` desc limit 0,#{num}
    </select>


</mapper>